@media all and (min-width: 600px) {

    .form-box {
        flex-direction: row;
    }

    .form-box label {
        flex-basis: 9rem;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .form-box select,
    .form-box input,
    .form-box textarea {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .form-box button {
        margin-left: 9rem;
    }
}