:root {
    --back: hsla(150, 50%, 30%, 1);
    --back2: #78b13f;
    --forelight: hsla(0,0%,100%,1);
    --borderlight: hsla(0,0%,33%,.3);
    --shadow: hsl(0,0%,50%);
    --zebra: hsl(0, 0%, 93%, 1);
}

body {
    font-family: monospace;
}

table {
	margin: 100px auto;
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
    padding: 9px;
    caption-side: bottom;
    color: var(--back);
    font-size: .9rem;
}

tr:first-child th {
	background-color: var(--back);
	color: var(--forelight);
    padding: 15px;
	border: 1px solid var(--borderlight);
    font-size: 2em;
    height: 60px;
}

tr:nth-child(2) th.top {
    background-color: var(--back);
    height: 60px;
}

.categories {
    background-color: var(--back2);
    color: var(--forelight);
    font-size: large;
}

td {
	padding: 15px 40px;
	border: 1px solid var(--borderlight);
	font-size: larger;
    text-align: center;
}

.crossmark {
    font-size: 2rem;
}

.checkmark {
    font-size: 4rem;
    color: green;
}

tr:nth-child(odd) {
	background-color: var(--jet);
}