@media only screen and (min-width: 992px) {

    :root {
        --prussian-blue: #182F4E;
        --hunyadi-yellow: #F6AE2D;
        --powder-blue: #BBCDE5;
        --chocolate-cosmos: #6C0F23;
        --rich-black: #0B2027;
        --lavender: #DFD9E2;
    }

    button#hamburgerBtn {
        display: none;
    }

    header {
        gap: 10px;
        padding: 40px;
    }

    img#logo-img {
        width: 180px;
        height: 180px;
    }

    img#hero-img {
        width: 100%;
        height: auto;
    }
    
    header h1 {
        font-size: 7rem;
    }

    nav ul li a {
        margin: 0 80px 0 80px;
        padding:  0 11px 0 11px;
        font-size: 3rem;
        position: relative;
        top: 100%;
        z-index: 1;
        color: var(--powder-blue);
        background-color: var(--chocolate-cosmos);
        border-radius: 10px;
    }

    nav ul li a:hover {
        text-shadow: 3px 3px 15px var(--rich-black);
        background-color: var(--lavender);
        color: var(--prussian-blue);
        text-decoration: line-through;
    }

    nav ul {
        display: flex;
    }

    ul#primaryNav {
        justify-content: center;
    }

    img#hero-img {
        width: 100%;
        height: auto;
    }

    /* Main content styling */
    main div.container {
        margin-top: -55px;
    }

    main div.main-content {
        display: grid;
        grid-template-columns: 2fr 300px;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }

    img#lrg-image-base {
        display: block;
        width: 100%;
        margin: 0;
        border: thin solid var(--chocolate-cosmos);
        filter: drop-shadow( 3px 3px 15px var(--prussian-blue));
    }

    img#second-img-base {
        display: block;
        width: 100%;
        height: 86.3%;
        object-fit: cover;
        border: thin solid var(--chocolate-cosmos);
        filter: drop-shadow( 3px 3px 15px var(--prussian-blue));
    }

    img#second-img-para {
        display: none;
    }

    .description p {
        padding: 0 0 10px 0;
    }

    .description {
        padding: 30px 30px 38px 0;
    }

    p.description2 {
        grid-column: 1 / 4;
        border: thin solid var(--chocolate-cosmos);
        padding: 10px;
    }

    .mix-drink {
        font-size: 5rem;
        top: 77%;
        right: -3%;
        border-radius: 20px;
        padding: 0 9px 0 9px;
    }

    .mix-drink:hover {
        background-color: var(--lavender);
        color: var(--prussian-blue);
    }

    div.day-card {
        width: 250px;
        padding: 20px 0 20px 0;
        font-size: 1.7rem;
    }

    .condition {
        font-size: 1.5rem;
    }

    img.weather-icon {
        width: 150px;
    }

    .forecast {
       font-size: 4rem;
    }
}