@media only screen and (min-width: 1020px) {

    :root {
        --byzantine-blue: #2851CC;
        --jet: #2F2F2F;
        --silver: #BFB5AF;
        --eerie-black: #0F1A12;
        --flame: #ED5D31;
    }

    header, nav, .dateAndTime, main, footer {
        max-width: 1020px;
        margin: 0 auto;
    }

    header {
        padding: 10px 20px;
    }

    .headings1 {
        text-shadow: 0 0 10px var(--eerie-black);
    }

    .header-facebook {
        width: 12%;
        height: auto;
        border-radius: 360px;
    }

    .header-linkedin {
        width: 12%;
        height: auto;
        border-radius: 360px;
    }

    .header-twitter {
        width: 12%;
        height: auto;
        border-radius: 360px;
    }

    .header-whatsapp {
        display: revert;
        width: 12%;
        height: auto;
        border-radius: 360px;
    }

    #hamburgerBtn {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-top: 50px;
        margin-left: 30px;
    }

    nav ul li a {
        border: none;
    }

     .dateAndTime {
         font-size: x-large;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a {
        padding: 1.2rem 2.7vw;
        color: var(--eerie-black);
        font-weight: bolder;
    }

    nav ul li a:hover {
        background-color: var(--eerie-black);
        color: var(--silver);
    }
    
    nav ul li.active a {
        background-color: var(--silver);
        color: var(--flame);
    }

    .active a:hover {
        color: var(--eerie-black);
    }
    
}