/* Small display mobile viewport */

:root {
    --byzantine-blue: #2851CC;
    --jet: #2F2F2F;
    --silver: #BFB5AF;
    --eerie-black: #0F1A12;
    --flame: #ED5D31;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    /* font-family: 'Gruppo', cursive; */
    font-family: 'Nanum Gothic Coding', monospace;
}

header, footer {
    max-width: 590px;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: var(--silver);
    padding: 20px 0;
    gap: 10px;
}

#header-logo {
    width: 60px;
    height: auto;
    border-radius: 36px;
    margin-left: 10px;
}

.headings1 {
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 30px var(--eerie-black);
}

.headings1 h1 {
    font-size: 2.4em;
}

.header-social {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-facebook {
    width: 22px;
    height: auto;
    border-radius: 360px;
    margin-top: 10px;
}

.header-linkedin {
    width: 22px;
    height: auto;
    border-radius: 360px;
}

.header-twitter {
    width: 22px;
    height: auto;
    border-radius: 360px;
}

.header-whatsapp {
    display: none;
}

section a {
    text-decoration: none;
}

.dateAndTime {
    background-color: var(--eerie-black);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--silver);
    margin: 0 auto;
    max-width: 560px;
}

#hamburgerBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .8rem 1vw;
    background: transparent;
    border: none;
    font-size: 1.9rem;
    color: var(--jet);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--jet);
    border-top: 1px solid var(--jet);
}

nav ul li a:hover {
    background-color: var(--eerie-black);
    color: var(--silver);
}

nav ul li.active a {
    background-color: var(--silver);
    color: var(--flame);
}

.active a:hover {
    color: var(--eerie-black);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    margin: 0 auto;
    max-width: 560px;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

footer {
    background-color: var(--silver);
    padding: 20px;
}

main section {
    background-color: var(--eerie-black);
    height: 230px;
    margin: 5px 7px;
    color: var(--silver);
    padding: 13px;
}

.sportlites {
    height: 430px;
    padding: 10px;
}

.sportlite1, .sportlite2 {
    background-color: var(--eerie-black);
    height: 200px;
    border: 1px solid var(--silver);
    padding: 15px;
}

#footer-logo {
    display: block;
    width: 50%;
    height: auto;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 20px;
    box-shadow: 0 0 30px var(--flame);
}

.footings1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footings1 p {
    padding: 5px;
}

.footings2 p {
    display: block;
    text-align: center;
    padding: 5px;
}

.bottom-footer {
    display: block;
    text-align: center;
    border-top: none;
}

.bottom-footer p:nth-child(2) {
    padding: 10px;
    text-shadow: 0 0 10px var(--flame);
}