/* Small display mobile viewport */

:root {
    --byzantine-blue: #2851CC;
    --jet: #2F2F2F;
    --silver: #BFB5AF;
    --eerie-black: #0F1A12;
    --flame: #ED5D31;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* font-family: 'Gruppo', cursive; */
    font-family: 'Nanum Gothic Coding', monospace;
}

header {
    display: flex;
    background-color: var(--silver);
    padding: 20px 0;
    gap: 10px;
}

#logo {
    width: 40px;
    height: auto;
    border-radius: 36px;
    margin-left: 10px;
}

nav ul {
    display: none;
}

.headings1 {
    display: flex;
    flex-direction: column;
}

.headings2 {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}



.facebook {
    width: 22px;
    height: auto;
    margin-left: 15px;
    border-radius: 30px;
    margin-top: 8px;
}

.linkedin {
    width: 22px;
    height: auto;
    margin-left: 15px;
    border-radius: 30px;
    margin-top: 8px;
    
}

#hamburgerBtn {
    margin-left: 11px;
    margin-top: 5px;
    width: 25px;
    height: 28px;
}

.dateAndTime {
    background-color: var(--jet);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--silver);
}

