@media only screen and (min-width: 768px) {
  
    :root {
        --lapis-lazuli: #42608A;
        --jet: #2F2F2F;
        --silver: #BFB5AF;
        --beige: #F3FAE1;
        --eerie-black: #0F1A12;
        --flame: #ED5D31;
        --gold-metalic: #D9B208;
    }
    header, nav, .dateAndTime, main, footer, .bottom-footer {
        max-width: 768px;
        margin: 0 auto;
    }

    header {
        padding: 30px 0;
        gap: 15px;
    }

    #header-logo {
        width: 120px;
        height: auto;
        border-radius: 360px;
    }

    .headings1 {
        padding-top: 30px;
        text-shadow: 0 0 30px var(--eerie-black);
    }

    h1 {
        font-size: 47px;
    }

    .headings1 div {
        font-size: 16px;
    }

    .header-social {
        text-align: center;
    }

    .header-facebook {
        width: 10%;
        height: auto;
        border-radius: 360px;
    }

    .header-linkedin {
        width: 10%;
        height: auto;
        border-radius: 360px;
    }

    .header-twitter {
        width: 10%;
        height: auto;
        border-radius: 360px;
    }

    .header-whatsapp {
        display: none;
    }

    .largeView-nav {
        display: none;
    }

    #hamburgerBtn {
        background: transparent;
        border: none;
        font-size: 2.3rem;
        color: var(--jet);
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a {
        display: block;
        padding: 1.2rem 3vw;
        text-decoration: none;
        color: var(--jet);
        font-weight: bolder;
        border-top: none;
    }
    
    nav ul li a:hover {
        background-color: var(--lapis-lazuli);
        color: var(--beige);
    }
    
    nav ul li.active a {
        background-color: var(--silver);
        color: var(--flame);
    }

    .active a:hover {
        color: var(--eerie-black);
    }
    
    nav ul {
        display: none;
    }
    
    nav ul.open {
        display: block;
        max-width: 768px;
    }
    
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}
    
    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}
    
    .grid-container {
        display: none;
    }

    .events {
        display: flex;
        height: 230px;
        padding: 15px;
        gap: 10px;
    }

    .event1, .event2 {
        width: 400px;
        height: 200px;
        padding: 10px;
        background-color: var(--eerie-black);
        border: 1px solid var(--silver);
    }

    .sportlites1 {
        display: none;
    }

    .sportlites2 {
        height: 270px;
        padding: 10px;
        display: flex;
        gap: 10px;
    }
    
    .sportlite3 {
        background-color: var(--eerie-black);
        width: 650px;
        height: 250px;
        border: 1px solid var(--silver);
        padding: 15px;
    }

    .sportlite4 {
        width: 460px;
        height: 250px;
    }

    #top-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: var(--lapis-lazuli);
    }

     #footer-logo {
        width: 160px;
        box-shadow: none;
    }

    .footings1 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    h3 {
        padding-left: 4px;
    }

    h3:nth-child(1) {
        font-size: 2.8em;
    }

    h3:nth-child(2) {
        font-size: 1.2em;
    }

    .footings2 {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: 200px;
    }

    hr, br { display: none;}

    .bottom-footer {
        display: block;
        text-align: center;
        border-top: 1px solid var(--jet);
        padding: 20px;
        background-color: var(--gold-metalic);
    }

    .bottom-footer p:first-of-type {
        font-weight: bolder;
    }

    .bottom-footer p:nth-child(2) {
        text-shadow: 0 0 3px var(--lapis-lazuli);
        padding: 15px;
        font-weight: bolder;
    }
}