
/* Desktop view ****** */

@media only screen and (min-width: 902px) {

    :root {
        --honolulu-blue: #0077b6;
        --raisin-black: #28282a;
        --mindaro: #f8fa90;
        --lavender: #dfd9e2;
        --davys-gray: #505168;
    }
    
    #logo {
        width: 26%;
        height: auto;
    }

    header {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

	#name {
        font-size: 3.6em;
	}

    .colors {
        min-width: 350px;
    }

    nav ul {
        background-color: var(--raisin-black);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px;
    }

    header, footer, main, nav {
        max-width: 902px;
        margin: 0 auto;
    }
}