/* Base / cell-phone view */

:root {
  --honolulu-blue: #0077b6;
  --raisin-black: #28282a;
  --mindaro: #f8fa90;
  --lavender: #dfd9e2;
  --davys-gray: #505168;
  --ghost-white: #E8E9F3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

#logo {
  width: 150px;
  height: auto;
  border-radius: 360px;
}

#name {
  font-size: 25px;
}

header,
footer {
  background-color: var(--lavender);
}

header,
footer {
  max-width: 767px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main div {
  font-family: "Rajdhani";
  padding: 10px;
}

.social a img {
  display: none;
}

nav {
  background-color: var(--raisin-black);
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: var(--lavender);
  text-align: left;
  padding: 15px;
  text-decoration: none;
  font-size: 0.9em;
}

nav a:hover {
/*   background-color: var(--honolulu-blue); */
  color: var(--honolulu-blue);
}

.cci-header {
  text-align: center;
  font-family: "Ubuntu";
  padding: 10px;
  background-color: var(--lavender);
}

.target {
  font-family: "Ubuntu";
  text-align: center;
  padding: 10px;
  background-color: var(--lavender);
}

.audience p {
  font-weight: bolder;
  font-size: 18px;
  padding: 5px;
  font-family: "Ubuntu";
}

.personas {
  font-family: "Ubuntu";
  padding: 10px;
  background-color: var(--lavender);
  text-align: center;
}

.typo {
  font-family: "Ubuntu";
  padding: 10px;
  background-color: var(--lavender);
  text-align: center;
}

#typo-table  {
  margin: 10px;
  font-size: 10px;
}

#typo-table tbody tr th {
  font-size: large;
  font-weight: bolder;
  background-color: var(--davys-gray);
  color: var(--ghost-white);
}

#typo-table tbody tr th, #typo-table tr td  {
  border: 1px solid #000;
  padding: 15px;
  width: 200px;
}

#typo-table tbody tr th:nth-child(3),
#typo-table tbody tr th:nth-child(4),
#typo-table tbody tr th:nth-child(5) {
  display: none;
}

#typo-table tr td:nth-child(3),
#typo-table tr td:nth-child(4),
#typo-table tr td:nth-child(5) {
  display: none;
}

#typo-table tr td:nth-child(1),
#typo-table tr td:nth-child(2) {
  font-size: 13px;
}


.color-sample1 {
  background-color: var(--lavender);
  color: var(--raisin-black);
  font-size: 25px;
}

.color-sample2 {
  background-color: var(--lavender);
  color: var(--raisin-black);
  font-size: 19px;
}

.color-sample3, .color-sample4 {
  background-color: var(--raisin-black);
  color: var(--lavender);
  font-size: 18px;
}

.color-sample4 {
  background-color: var(--raisin-black);
  color: var(--lavender);
  font-size: 1.5em;
  font-weight: bolder;
}

.color-sample5 {
  font-size: 13px;
}

.schema {
  font-family: "Ubuntu";
  padding: 10px;
  background-color: var(--lavender);
  text-align: center;
}

.colors {
  width: 100%;
  min-width: 30px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: var(--davys-gray);
  color: var(--ghost-white);
}
.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--lavender);
}
.secondary {
  background-color: var(--raisin-black);
  color: var(--lavender);
}
.accent1 {
  background-color: var(--honolulu-blue);
  color: #fff;
}
.accent2 {
  background-color: var(--mindaro);
}

.persona1-name,
.persona2-name {
  padding-top: 15px;
  padding: 10px;
  font-family: "Ubuntu";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lavender);
  background-color: var(--raisin-black);
}

footer {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}
