/* Base / cell-phone view */


:root {
    --honolulu-blue: #0077B6;
    --raisin-black: #28282A;
    --mindaro: #F8FA90;
    --lavender: #DFD9E2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#logo {
    width: 100%;
	height: auto;
	position: relative;
	left: px;
}

header, nav, main, footer {
	max-width: 960px;
	margin: 0 auto;
}

header, footer {
	background-color: var(--honolulu-blue);
}

.social a img {
    display: none;
}

header nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
}

nav {
    background-color: var(--raisin-black);
	text-align: center;
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 50px;
}

nav div {
    flex: 1 1 auto;
}

nav a {
    display: block;
    color: var(--lavender);
    text-align: left;
    padding: 15px;
    text-decoration: none;
    font-size: .9em;
}

nav a:hover {
	background-color: var(--honolulu-blue);
	color: var(--mindaro);
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	font-weight: 700;
}



