
/* Tablet display ****** */

@media only screen and  (min-width: 768px) {

    :root {
        --honolulu-blue: #0077b6;
        --raisin-black: #28282a;
        --mindaro: #f8fa90;
        --lavender: #dfd9e2;
        --davys-gray: #505168;
    }

    #logo {
        width: 20%;
        height: auto;
    }

    header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #name {
        font-size: 3em;        
    }

    header, footer, main, nav {
        max-width: 767px;
        margin: 0 auto;
    }


    .colors {
        min-width: 350px;
    }

    nav ul {
        background-color: var(--raisin-black);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li a {
        color: var(--lavender);
        padding: 13px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: var(--lavender);
        color: var(--raisin-black);
      }
      
      .active a {
        background-color: var(--honolulu-blue);
        color: var(--raisin-black);
      }
      
      .active a:hover {
        background-color: var(--honolulu-blue);
        color: var(--lavender);
      }

      .target {
        padding: 12px;
      }

      .cci-header {
        padding: 12px;
      }

      .personas {
        padding: 12px;
      }
      
      .typo {
        padding: 12px;
      }

    #typo-table tbody tr th:nth-child(3),
    #typo-table tbody tr th:nth-child(4),
    #typo-table tbody tr th:nth-child(5) {
        display: revert;
    }

    #typo-table tr td:nth-child(3),
    #typo-table tr td:nth-child(4),
    #typo-table tr td:nth-child(5) {
        display: revert;
    }

    #typo-table tr td:nth-child(1),
    #typo-table tr td:nth-child(2),
    #typo-table tr td:nth-child(3),
    #typo-table tr td:nth-child(4),
    #typo-table tr td:nth-child(5) {
      font-size: 15px;
      padding: 15px;
      text-align: center;
    }
}