/* Large Display Desktop Viewport */

@media only screen and (min-width: 1028px) {

    :root {
        --night: #071108;
        --orange-peel: #FF990A;
        --jet: #2D2A25;
        --baby-powder: #FDFFFC;
        --silver: #CACCCE;
    }
    
    nav ul li a {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header {
        font-size: 33px;
    }

    footer {
        font-size: 26px;
    }
}