/* Tablet Display Medium Viewport *****/

@media only screen and (min-width: 40em) {
    :root {
        --cobalt-blue: #1446A0;
        --celestial-blue: #2892D7;
        --night: #071108;
        --white: #FFFFFF;
        --orange: #FFB140;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
    }
    
    nav ul li a {
        border: none;
    }
    

}  /* End of Medium. */