/* Tablet Display Medium Viewport *****/

@media only screen and (min-width: 40em) {
    :root {
        --night: #071108;
        --white: #FFFFFF;
        --orange-peel: #FF990A;
        --jet: #2D2A25;
        --silver: #CACCCE;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange-peel);
        color: var(--night);
        border: 1px solid var(--jet);
    }

    nav ul li a:hover {
        background-color: var(--silver);
        color: var(--orange);
    }

    nav ul li {
        flex: 1 1 auto;
    }
    
    .active a {
        background-color: var(--silver);
        color: var(--night);
        border-left: 1px solid var(--jet);
        border-right: 1px solid var(--jet);
    }

    nav ul li a {
        border: none;
        color: var(--night);
    }
    

}  /* End of Medium. */