/* Base view mobile-phone default viewport ******/

:root {
    --cobalt-blue: #1446A0;
    --celestial-blue: #2892D7;
    --night: #071108;
    --white: #FFFFFF;
    --orange: #FFB140;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--white);
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--night);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--night);
    border-top: 1px solid rgba(0, 0, 0, .5);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, .20);
    color: #fff;
}

nav ul li a:hover {
    background-color: var(--cobalt-blue);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

header, nav, main, footer {
    max-width: 768px;
    margin: 0 auto;
}

main {
    padding: 18px;
}

header, footer {
    background-color: var(--celestial-blue);
    padding: 20px;
    text-align: center;
    font-family: "Instrument Serif", sans-serif;
    font-size: 25px;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

