
:root {
    --platinum: #E0E0E0;
    --battleship-gray: #7A7A71;
    --smokey-black: #141301;
    --outer-space: #44474A;

}

/* Tablet view 
************** */
@media only screen and (min-width: 768px) {
  
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    footer p:first-of-type{
        font-size: 23px;
    }

    footer p:nth-child(2) {
	font-size: 18px;
    }

    footer {
        padding: 20px;
    }
}