/* CSS Styling for the Website Planning Document */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }

  img#logo-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    text-align: center;
    border-bottom: 1px solid #878;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    /* text-align: center; */
    padding: 25px 0;
  }

  .nav2 {
    padding: 20px 0;
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    color: #686;
  }
  
  main section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
  }

  /* Typography and Design Start */


  .typo {
    font-family: "Ubuntu";
    padding: 10px;
    background-color: var(--lavender);
    text-align: center;
  }
  
  #typo-table  {
    margin: 10px;
    font-size: 10px;
  }
  
  #typo-table tbody tr th {
    font-size: large;
    font-weight: bolder;
    background-color: var(--davys-gray);
    color: var(--ghost-white);
  }
  
  #typo-table tbody tr th, #typo-table tr td  {
    border: 1px solid #000;
    padding: 15px;
    width: 200px;
  }
  
  #typo-table tbody tr th:nth-child(3),
  #typo-table tbody tr th:nth-child(4),
  #typo-table tbody tr th:nth-child(5) {
    display: none;
  }
  
  #typo-table tr td:nth-child(3),
  #typo-table tr td:nth-child(4),
  #typo-table tr td:nth-child(5) {
    display: none;
  }
  
  #typo-table tr td:nth-child(1),
  #typo-table tr td:nth-child(2) {
    font-size: 13px;
  }
  
  
  .color-sample1 {
    background-color: var(--lavender);
    color: var(--raisin-black);
    font-size: 25px;
  }
  
  .color-sample2 {
    background-color: var(--lavender);
    color: var(--raisin-black);
    font-size: 19px;
  }
  
  .color-sample3, .color-sample4 {
    background-color: var(--raisin-black);
    color: var(--lavender);
    font-size: 18px;
  }
  
  .color-sample4 {
    background-color: var(--raisin-black);
    color: var(--lavender);
    font-size: 1.5em;
    font-weight: bolder;
  }
  
  .color-sample5 {
    font-size: 13px;
  }
  
  .schema {
    font-family: "Ubuntu";
    padding: 10px;
    background-color: var(--lavender);
    text-align: center;
  }
  
  .colors {
    width: 100%;
    min-width: 30px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: var(--davys-gray);
    color: var(--ghost-white);
  }
  .colors td {
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--lavender);
  }
  .secondary {
    background-color: var(--raisin-black);
    color: var(--lavender);
  }
  .accent1 {
    background-color: var(--honolulu-blue);
    color: #fff;
  }
  .accent2 {
    background-color: var(--mindaro);
  }
  /* Typography and Design End */

  /* Styling of Site Map Start */
  .sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
  
    text-align: center;
  
  }
  .sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
  }
  
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }
  /* Styling of Site Map End */

  /* Styling for the wireframes Start */
img#base, img#medium, img#large {
    width: 100%;
    padding: 10px 0;
}

div.base, div.medium, div.large {
    text-align: center;
}

  /* Styling for the wireframes End */
  