:root {
    --paynes-gray: #5E6572;
    --powder-blue: #A9B4C2;
    --black: #000000;
    --licorice: #251819;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: var(--powder-blue);
    padding: 15px;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: var(--licorice);
    font-size: small;
}

footer p {
    padding: 20px;
    margin-top: 0;
}
footer div {
    color: var(--paynes-gray);
}

div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    padding: 10px;
}

div.cards img {
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--paynes-gray);
    padding: 5px;
    margin: 5px;
    color: var(--powder-blue);
}

h2 {
    text-shadow: 0 0 15px var(--black);
    font-size: larger;
}