:root {
    --lapis-lazuli: #42608A;
    --jet: #2F2F2F;
    --silver: #BFB5AF;
    --beige: #F3FAE1;
    --eerie-black: #0F1A12;
    --flame: #ED5D31;
    --turquoise: #40e0d0;
    --gold-metalic: #D9B208;
}

body {
    font-family: 'Gruppo', sans-serif;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 15px;
    font-size: 19px;
    font-family: inherit;
    color: var(--eerie-black);

}

button {
    cursor: pointer;
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 47px;
    width: 47px;
    color: var(--eerie-black);
    outline: none;
    background: var(--jet);
}

button:hover {
    background: var(--turquoise);
}

.card {
    text-align: center;
}

.weather-icon {
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex {
    display: flex;
    align-items: center;
}

h1.temp {
    margin: 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}