body {
    font-family: "Architects Daughter", sans-serif;
}

header, main, footer {
    max-width: 455px;
    margin: 0 auto;
}

header, footer {
    text-shadow: 0 0 10px;
}

main {
    background-color: #b2f8b2;
    height: 375px;
    padding: 20px;
}

#list {
    height: 300px;
    max-width: 400px;
    border: 1px solid gray;
    background-color:  #b2f8b2;
    margin: 15px auto;
}

#enter-book-and-chapter {
    font-weight: bolder;
}

#book-and-chapter-type {
    height: 35px;
}

button {
    height: 41px;
    /* width: 100px; */
}

footer {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}