body {
    font-family: "Architects Daughter", sans-serif;
}

header, main, footer {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
}

header, footer {
    text-shadow: 0 0 10px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #b2f8b2;
    height: auto;
}

label {
    font-weight: bolder;
    padding: 3px;
}

input {
    width: 22em;
    align-self: center;
    padding: 15px;
}

button {
    height: 40px;
    width: 21em;
    align-self: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}