body,
main,
h1,
picture,
img {
  max-width: 560px;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 10px;
}

main,
picture,
img {
  max-width: 560px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
  background-color: #ccc;
}

picture img {
  display: block;
  padding: 3px;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
