body,
main,
h1,
picture,
img {
  max-width: 100%;
  margin: 0 auto;
}

main h1 {
  font-size: 3em;
  text-align: center;
  padding: 10px;
}

picture img {
  padding: 3px;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
