:root {
    --prussian-blue: #182F4E;
    --fire-engine-red: #D0252A;
    --powder-blue: #BBCDE5;
    --chocolate-cosmos: #6C0F23;
    --rich-black: #0B2027;
    --lavender: #DFD9E2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu';
    background-color: var(--lavender);
}

header, footer {
    background-color: var(--chocolate-cosmos);
    max-width: 100%;
    width: 100%;
    color: var(--powder-blue);
    padding: 20px;
    font-family: 'Amatic SC';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

img#logo-img {
    width: 40px;
    height: 40px;
    border-radius: 360px;
    border: thin solid var(--powder-blue);
}

header h1 {
    font-size: 1.6rem;
}

button#hamburgerBtn {
    background: transparent;
    color: var(--powder-blue);
    border: none;
    font-size: 1.8rem;
    margin-left: 80px;
    margin-bottom: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav ul li a {
    display: block;
    padding: .75rem 5vw;
    text-decoration: none;
    color: var(--prussian-blue);
}

nav ul li a:hover {
    text-shadow: 2px 2px 25px var(--rich-black);
    color: var(--chocolate-cosmos);
    text-decoration: line-through;
}

nav ul li.active a {
    text-decoration: line-through;
    background-color: var(--powder-blue);
    color: var(--fire-engine-red);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    margin: 0 auto;
    background-color: var(--lavender);
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}
  
#hamburgerBtn span:nth-child(2) {
    display: none;
}
  
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/* Main contents styling */
.main-content {
    display: flex;
    flex-direction: column;
}

.description, .description2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

img#second-img-para {
    display: none;
}

img#lrg-image-base {
    width: 100%;
    margin: 20px 0 0 0;
    border: thin solid var(--chocolate-cosmos);
}

p.description2 {
    padding: 20px;
}

.container {
    position: relative;
}

.mix-drink {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Amatic SC";
    font-weight: bolder;
    color: var(--powder-blue);
    background-color: var(--chocolate-cosmos);
    padding: 0 7px 0 7px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px var(--prussian-blue);
}

.mix-drink:hover {
    background-color: var(--powder-blue);
    color: var(--chocolate-cosmos);
    text-shadow: 1px 1px 5px var(--rich-black);
}

img#hero-img {
    width: 100%;
    height: auto;
}

img#second-img-base {
    display: block;
    width: 89%;
    height: auto;
    margin: 0 auto;
    border: thin solid var(--chocolate-cosmos);
}

.forecast {
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    font-family: 'Amatic SC';
    color: var(--chocolate-cosmos);
    filter: drop-shadow(5px 5px 9px var(--prussian-blue));
}

/* Weather cards styling */

.day-section {
    display: flex; 
    justify-content: center;
}

.condition {
    font-size: 1rem;
    padding: 7px 0 0 0;
}

.day-card {
    text-align: center;
    width: 80px;
    padding: 10px 0 10px 0;
    color: var(--powder-blue);
    border: thin solid var(--powder-blue);
    background-color: var(--chocolate-cosmos);
}

img.weather-icon {
    width: 50px;
}
/* End of card styling */

/* Footer styling */
footer {
    text-align: center;
    font-size: 1.2rem;
}

.facebook, .linkedin, .twitter {
    width: 25px;
    border-radius: 360px;
}

.social {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

img#footer-logo-img {
    width: 40px;
    height: 40px;
    border-radius: 360px;
    border: thin solid var(--chocolate-cosmos);
}

.footer-logo-container {
    display: flex;
    align-items: center;
    background-color: var(--powder-blue);
    gap: 10px;
    color: var(--chocolate-cosmos);
    padding: 10px;
}

.footer-logo-container h1 {
    font-size: 1.6rem;
    font-family: 'Amatic SC';
}