@media only screen and (min-width: 992px) {

    :root {
        --prussian-blue: #182F4E;
        --hunyadi-yellow: #F6AE2D;
        --powder-blue: #BBCDE5;
        --chocolate-cosmos: #6C0F23;
        --rich-black: #0B2027;
        --lavender: #DFD9E2;
    }

    button#hamburgerBtn {
        display: none;
    }

    header {
        gap: 10px;
        padding: 40px;
    }

    img#logo-img {
        width: 180px;
        height: 180px;
    }
    
    header h1 {
        font-size: 7rem;
    }

    nav ul li a {
        padding: 2rem 5vw;
        font-size: 2.5rem;
    }

    nav ul {
        display: flex;
    }

    ul#primaryNav {
        justify-content: center;
        /* background-color: var(--powder-blue); */
    }

    img#hero-img {
        width: 100%;
        height: auto;
    }

    /* Main content styling */
    main div.main-content {
        display: grid;
        grid-template-columns: 2fr 300px;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }

    img#lrg-image-base {
        display: block;
        width: 100%;
        border: thin solid var(--chocolate-cosmos);
    }

    img#second-img-base {
        display: block;
        width: 100%;
        height: 86.5%;
        object-fit: cover;
        margin-top: 10px;
    }

    img#second-img-para {
        display: none;
    }
}