@media only screen and (min-width: 768px) {
    :root {
        --prussian-blue: #182F4E;
        --hunyadi-yellow: #F6AE2D;
        --powder-blue: #BBCDE5;
        --chocolate-cosmos: #6C0F23;
        --rich-black: #0B2027;
        --lavender: #DFD9E2;
    }

    header {
        gap: 14px;
    }
    
    img#logo-img {
        width: 90px;
        height: 90px;
    }
    
    header h1 {
        font-size: 3.2rem;
    }
    
    button#hamburgerBtn {
        font-size: 3.6rem;
    }

    nav ul li a {
        padding: 1.6rem 4vw;
        font-size: 1.5rem;
    }

    /* Main content styling */
    .main-content {
        flex-direction: row;
    }

    .description {
        flex-direction: column;
        padding: 30px;
    }
    
    .description p {
        font-size: 1.5rem;
        padding: 6px;
    }

    img#second-img-base {
        display: none;
    }

    img#second-img-para {
        display: revert;
        width: 20%;
        height: 150px;
        float: right;
        margin: 10px;
    }

    /* Weather cards styling */
    .forecast {
        display: revert;
    }

    .forecast {
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        font-family: 'Amatic SC';
        padding: 10px;
        background-color: var(--powder-blue);
    }

    .weather-cards {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding: 1rem;
        background-color: var(--chocolate-cosmos);
        color: var(--powder-blue);
    }

    footer {
        font-size: 2.4rem;
    }
    
    .facebook, .linkedin, .twitter {
        width: 40px;
    }
    
    .social {
        gap: 15px;
    }
    
    img#footer-logo-img {
        width: 80px;
        height: 80px;
    }
    
    .footer-logo-container {
        gap: 10px;
        padding: 20px;
    }
    
    .footer-logo-container h1 {
        font-size: 3.2rem;
        font-family: 'Amatic SC';
    }
}