/* Large diplay, Desktop viewport */
/* Media query added for screen of min width of 1028px */

@media screen and (min-width: 1028px) {

    :root {
        --rich-black: #00171F;
        --prussian-blue: #003459;
        --white: #ffff;
        --saffron: #EFBC06;
    }
    
    header, footer {
        background-color: var(--prussian-blue);
        color: var(--white);
        box-shadow: 0px 0px 30px var(--rich-black);
    }

    header, main, footer {
        max-width: 1028px;
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        gap: 25px;
    }

    header, footer {
        background-color: var(--prussian-blue);
        color: var(--white);
        box-shadow: 0px 0px 30px var(--rich-black);
    }

    img {
        width: 200px;
        height: auto;
    }

    .my-name {
        text-shadow: 0 0 40px var(--saffron);
    }

    main {
        border-bottom: 1px solid var(--saffron);
    }

    li { 
        font-size: 2rem;
    }

    footer p:first-of-type { 
        font-size: 49px;
        padding-top: 20px;
    }

    p:nth-child(2) {
        font-size: 38px;
    }

    h1 { 
        font-size: 6em;
        padding-top: 40px; 
    }

    h2 {
        border-bottom: 1px solid var(--saffron);
        text-shadow: 0 0 10px var(--rich-black);
        font-size: 3em;
        padding-left: 33px;
    }

}