/* Small screen responsive styling (Default styling) */

:root {
  --rich-black: #00171F;
  --prussian-blue: #003459;
  --white: #ffff;
  --saffron: #EFBC06;
  --beige: #F3FAE1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--beige);
  font-family: "Dongle", Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: var(--prussian-blue);
  color: var(--white);
  box-shadow: 0px 0px 30px var(--rich-black);
}

header, main, footer {
  max-width: 765px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-name {
  color: var(--beige);
}

h2 {
  border-bottom: 1px solid var(--saffron);
  font-size: 1.35em;
}

main {
  font-size: 1.6rem;
  margin: 17px;
  border-bottom: 1px solid var(--saffron);
}

nav ul { list-style: none;}

nav ul li a { margin: 1%; }

#year { font-size: 1em; }

img {
  width: 175px;
  height: auto;
  padding-top: 50px;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 35px var(--saffron);
}

a:hover {
  text-shadow: 5px 5px 10px var(--saffron);
}

a { 
  text-decoration: none;
  color: var(--prussian-blue);
}

footer {
  font-size: 22px;
  text-align: center;
  padding: 25px;
}

footer p:first-of-type {
  font-size: 23px;
  color: var(--beige); 
}

p:nth-child(2) {
  font-size: 20px;
}
