/* Small screen responsive styling (Default styling) */

:root {
  --rich-black: #00171F;
  --prussian-blue: #003459;
  --white: #ffff;
  --saffron: #EFBC06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Dongle", Arial, Helvetica, sans-serif;
}

header, footer {
  max-width: 767px;
  margin: 0 auto;
  background-color: var(--prussian-blue);
  color: var(--white);
  box-shadow: 0px 0px 30px var(--rich-black);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h2 {
  border-bottom: 1px solid var(--saffron);
  font-size: 1.4em;
}

main {
  font-size: 1.6rem;
  margin: 20px auto;
  max-width: 290px;
  border-bottom: 1px solid var(--saffron);
}

nav ul { list-style: none;}

nav ul li a { margin: 1%; }

#year { font-size: 1em; }

img {
  width: 175px;
  height: auto;
  padding-top: 50px;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 35px var(--saffron);
}

a { text-decoration: none; }

footer {
  font-size: 22px;
  text-align: center;
  padding: 25px;
}

footer p:first-of-type { font-size: 23px; }

p:nth-child(2) {
  font-size: 20px;
}
