/* Medium display, Tablet viewport  */
/* Media query added for screen of min width of 640px */

@media screen and (min-width: 640px) {

    :root {
        --rich-black: #00171F;
        --prussian-blue: #003459;
        --white: #ffff;
        --saffron: #EFBC06;
    }
    
    header, footer {
        max-width: 767px;
        margin: 0 auto;
        background-color: var(--prussian-blue);
        color: var(--white);
        box-shadow: 0px 0px 30px var(--rich-black);
    }

    header {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        gap: 25px;
    }

    header, footer {
        background-color: var(--prussian-blue);
        color: var(--white);
        box-shadow: 0px 0px 30px var(--rich-black);
    }

    img {
        width: 150px;
        height: auto;
        margin: 20px;
    }

    .my-name {
        text-shadow: 0 0 10px var(--saffron);
    }

    main {
        border-bottom: 1px solid var(--saffron);
        max-width: 767px;
    }

    li { margin-left: 35px; }

    footer { font-size: 28px; }

    footer p:first-of-type { font-size: 44px; }

    p:nth-child(2) {
        font-size: 33px;
    }

    h1 { font-size: 5em; }

    h2 {
        border-bottom: 1px solid var(--saffron);
        text-shadow: 0 0 10px var(--rich-black);
        font-size: 3em;
        padding-left: 33px;
    }

}