/* Media query added for screen of min width of 640px */

@media screen and (min-width: 640px) {

    :root {
        --rich-black: #00171F;
        --prussian-blue: #003459;
        --blood-red: #69140E;
        --white: #ffff;
        --saffron: #EFBC06;
    }
    
    header, footer {
        max-width: 767px;
        margin: 0 auto;
        background-color: var(--prussian-blue);
        color: var(--white);
        box-shadow: 0px 0px 30px var(--rich-black);
    }

    header {
        display: flex;
        flex-direction: row;
    }

    header, footer {
        background-color: var(--prussian-blue);
        color: var(--white);
        box-shadow: 0px 0px 30px var(--rich-black);
    }

    img {
        width: 150px;
        height: auto;
        margin: 20px;
        top: 25%;
        right: 5%;
        box-shadow: 0 0 30px var(--rich-black);
    }

    main {
        font-size: 1.5rem;
        margin: 25px auto;
        border-bottom: 1px solid var(--saffron);
        max-width: 767px;
    }

    li { margin-left: 35px; }

    footer { font-size: 28px; }

    footer p:first-of-type { font-size: 38px; }

    h1 { font-size: 3.5em; }

    h2 { font-size: 2em; }  

}