:root {
    --platinum: #E0E0E0;
    --smokey-black: #141301;
    --outer-space: #44474A;
    --white: #FFFFFF;
}

* {
	box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: Nanum Gothic, Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: var(--smokey-black);
    text-align: center;
    color: var(--platinum);
}

.first-section {
    max-width: 767px;
    font-size: .8em;
	margin: .9rem;
	padding: 0 1rem;
	background-color: var(--platinum);
    border-radius: 7px 7px 0 0;
	border: 1px solid var(--outer-space);
}

#title {
    font-size: 33px;
    padding-top: .7em;
    height: 4em;
}

#author {
    font-size: 23px;
}

#heading-rep {
	background-color: var(--outer-space);
	padding-top: .1em;
	margin-right: -16px;
	margin-left: -16px;
	border-radius: 7px 7px 0 0;
	color: var(--platinum);
}

h1 {
	color: var(--platinum);
	padding-left: 1em;
	padding-bottom: .2em;
    font-size: 1.2em;
}



.card {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	margin: 1em 0px;
}

#logo-millhaven {
	width: 5em;
	padding-top: 1em;
}


.contact {
	padding-left: 6em;
	padding-top: .7em;
}

#main-image1 {
	width: 100%;
	height: auto;
}

.image-text {
	position: absolute;
	top: 40%;
	left: 25%;
	color: var(--white);
	font-size: 3.9em;
	text-align: center;
	transform: translate(-16%);
	background: rgba(192, 195, 190, 0.5);
}

#round-image {
	width: 50%;
	border-radius: 50%;
	height: 15em;
	margin-left: 6em;
	position: relative;
	bottom: 20px;
	border: 5px solid white;
}

.image-container {
	background-color: var(--white);
	overflow: auto;
	margin: -1em auto;
	
}

.main-msg {
	text-align: center;
	color: var(--smokey-black);
	margin: 0 3px;
}

.image-container {
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
}

.second-section {
	max-width: 767px;
    font-size: .8em;
	margin: .9rem;
	padding: 0 1rem;
	background-color: var(--platinum);
    border-radius: 7px 7px 0 0;
	border: 1px solid var(--outer-space);
}

#heading-rul {
	background-color: var(--outer-space);
	padding-top: .1em;
	margin-right: -16px;
	margin-left: -16px;
	border-radius: 7px 7px 0 0;
	color: var(--platinum);
}

#logo-bnb {
	width: 5em;
	padding: 20px;
	display: flex;
	position: relative;
	z-index: 1;
}

#main-image2 {
	width: 100%;
	height: auto;
	position: relative;
	bottom: 40px;
	top: -5em;
}

#background-white {
	background-color: white;
	border: 1px solid;
}

.bnb-image-text {
	font-size: 28px;
	color: var(--white);
	position: relative;
	bottom: 150px;
	text-align: center;
}

#label1 {
	position: absolute;
	bottom: -60%;
	font-weight: bolder;
}

#destination {
	width: 79.5%;
	height: 35px;
	position: absolute;
	bottom: -65%;
}

.check-out {
	position: absolute;
	right: 7.7pc;
	bottom: -69%;
	font-weight: bolder;
}

#checkout {
	position: absolute;
	bottom: -74%;
	left: 12pc;
	width: 40.5%;
	height: 35px;
}

.check-in {
	position: absolute;
	bottom: -69%;
	font-weight: bolder;
}

#checkin {
	height: 35px;
	position: absolute;
	bottom: -74%;
}

.guests-label {
	position: absolute;
	bottom: -77%;
	font-weight: bolder;
}

#guests {
	position: absolute;
	bottom: -81.6%;
	height: 35px;
	width: 79.5%;
}

#search-btn {
	position: absolute;
	bottom: -89%;
	width: 79.5%;
	height: 2.5em;
	background-color: #f95a5a;
	font-weight: bolder;
}

.explore {
	font-weight: bolder;
	font-size: 23px;
	padding-bottom: 1em;
}

#image1, #image2, #image3 {
	width: 200px;
	height: auto;
}

#image3 {
	position: relative;
	right: 5em;
	width: 216.12px;
	height: 200px
}

#image2 {
	width: 226.58px;
	height: 200px;
	position: relative;
	right: 1em;
}

#image1 {
	width: 160px;
	height: 200px;
}

#flexbox-images {
	display: flex;
	overflow: auto;
}

.stays {
	position: relative;
	top: 220px;
	right: 100px;
	font-weight: bolder;
	font-size: 14px;
}

.Experiences {
	position: relative;
	top: 220px;
	right: 125px;
	font-weight: bolder;
	font-size: 14px;
}

.adventures {
	position: relative;
	top: 220px;
	right: 178px;
	font-weight: bolder;
	font-size: 14px;
}