
:root {
    --platinum: #E0E0E0;
    --battleship-gray: #7A7A71;
    --smokey-black: #141301;
    --outer-space: #44474A;

}
/* Desktop view 
***************** */
@media only screen and (min-width: 992px) {

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    section:nth-child(3) {
        grid-column: span 1;
    }

    .link-hicks {
        position: absolute;
        top: 170px;
        text-decoration: none;
    }

}