:root {
    --platinum: #E0E0E0;
    --smokey-black: #141301;
    --outer-space: #44474A;
    --white: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: var(--smokey-black);
    text-align: center;
    color: var(--platinum);
}

.first-section {
	max-width: 767px;
	margin: 0.9em;
	padding: 0 1rem;
	background-color: var(--platinum);
    border-radius: 7px 7px 0 0;
	border: 1px solid var(--outer-space);
	height: 58em;
}

#title {
    font-size: 33px;
    padding-top: .7em;
    height: 4em;
}

#author {
    font-size: 23px;
}

#heading-rep {
	background-color: var(--outer-space);
	padding-top: .1em;
	margin-right: -16px;
	margin-left: -16px;
	border-radius: 7px 7px 0 0;
	color: var(--platinum);
}

h1 {
	color: var(--platinum);
	padding-left: 1em;
	padding-bottom: .2em;
    font-size: 1.2em;
}

.link {
	position: relative;
	top: 15px
}

img {
	width: 100%;
	height: auto;
	position: relative;
	top: 45px;
}

.nonsense-para {
	text-align: left;
	position: relative;
	top: 50px;
}
